#btn1{
    background-color: red;
}
#btn2{
    background-color: purple;
}
#btn3{
    background-color: blue;
}
#btn4{
    background-color: green;
}
#btn5{
    background-color: violet;
}
#btn6{
    background-color: brown;
}
#btn7{
    background-color: pink;
}
#btn8{
    background-color: white;
}
#btn9{
    background-color: orange;
}
